<?xml version="1.0" encoding="UTF-8" ?>
<module>
    <name>pfspreorder</name>
    <displayName><![CDATA[Make a Product]]></displayName>
    <version><![CDATA[1.0.0]]></version>
    <description><![CDATA[Adds blocks with pop-up blocks for pre-order.]]></description>
    <author><![CDATA[pfs]]></author>
    <tab><![CDATA[administration]]></tab>
    <is_configurable>1</is_configurable>
    <need_instance>1</need_instance>
</module>
